@import "./variables";
@import "./mixin";
.app {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

// HEADER
.header{
    &__main{
        display: flex;
        background-color: #333;
        align-items: center;
        // justify-content: space-between;
      
        &-logo{
            width: 80px;
            margin: 8px;
            img{
                width: 100%;
            }
        }
        &-list{
            padding: 8px 0px;
            a{  
                border-right: $border;
                display: inline-block;
                text-decoration: none;
                color: $white-color;
                padding: 0px 16px;
                font-size: 20px;

                &:hover{
                    color: #333;
                    background-color: #fff;
                }
            }
        }
        &-account{
            margin-right: 12px;
            margin-left: auto;
            button{
                padding: 6px 12px;
                font-weight: 600;
                background-color: blue;
                color: $white-color;
                border: none;
                cursor: pointer;
            }
        }
        @media screen and (max-width:740px){
            padding-bottom: 18px;
            flex-wrap: wrap;
            &-logo{
                width: 30px;
            }
            &-account{
                position: absolute;
                top: 48px;
                right: 12px;
            }
            // display: none;
        }
    }
}

// CONTAINER
.container{
    @include flex;
    &__content{
        flex-basis: 80%;
        border: $border;
        padding: 12px;
        margin-right: 12px;
    }
    &__side{
        padding: 12px 0px;
        flex-basis: 20%;
        border: $border;
        nav{
            a{
                text-align: center;
                text-decoration: none;
                display: block;
                padding: 8px 16px;
                color: $black-color;
            }
        }
    }
    @media screen and (max-width:740px) {
        flex-direction: column-reverse;
        &__content{
            margin-right: 0;
        }
        &__side{
            width: 100%;
            margin-bottom: 12px;
            nav{
                a{
                    display: inline-block;
                }
            }
        }
    }
}

// FOOTER
footer{
    margin-top: 20px;
    background-color: #333;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: inherit;
    h3{
        text-align: center;
        color: $white-color;
        padding-top: 12px;
    }
    nav{
        text-align: center;
        padding-bottom: 24px;
        a{
            text-decoration: none;
            font-weight: 700;
            display: inline-block;
            padding: 8px 16px;
            color: $white-color;
       
        }
    }
}