* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: inherit;
}
.header__main {
  width: inherit;
  display: flex;
  background-color: #333;
  align-items: center;
}
.header__main-logo {
  width: 80px;
  margin: 8px;
}
.header__main-logo img {
  width: 100%;
}
.header__main-list {
  padding: 8px 0px;
}
.header__main-list a {
  border-right: 1px solid #bbb;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0px 16px;
  font-size: 20px;
}
.header__main-list a:hover {
  color: #333;
  background-color: #fff;
}
.header__main-account {
  margin-right: 12px;
  margin-left: auto;
}
.header__main-account a {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 600;
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 740px) {
  .header__main {
    padding-bottom: 18px;
    flex-wrap: wrap;
  }
  .header__main-logo {
    width: 30px;
  }
  .header__main-account {
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
  }
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 130px;
  margin-bottom: 20px;
}
.container__content {
  flex-basis: 80%;
  border: 1px solid #bbb;
  padding: 12px;
  margin-right: 12px;
}
.container__side {
  padding: 12px 0px;
  flex-basis: 20%;
  border: 1px solid #bbb;
}
.container__side nav {
  background-color: snow;
  position: fixed;
  top: 130px;
  right: 0px;
  width: 230px;
}
.container__side nav a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  color: #333;
}
@media screen and (max-width: 740px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 80px;
  }
  .container__content {
    margin-right: 0;
  }
  .container__side {
    width: 100%;
    margin-bottom: 12px;
  }
  .container__side nav {
    position: unset;
    width: 100%;
  }
  .container__side nav a {
    display: inline-block;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .container__side nav {
    width: 153px;
    right: 0;
  }
}

.container__side section.more {
  padding-left: 8px;
}
.container__side section.more h3 {
  color: blue;
  border-bottom: 1px solid #bbb;
}
.container__side section.more p {
  padding: 4px 0px;
}
.container__side section.more p strong {
  color: red;
}

section.posts article {
  border-bottom: 1px solid #bbb;
  padding-bottom: 12px;
}
section.posts article:not(section.posts article:first-child) {
  padding-top: 15px;
  margin-top: 15px;
}
section.posts article a {
  text-decoration: none;
  color: #333;
}
section.posts article h3 {
  padding-bottom: 12px;
}
section.posts article .content {
  display: flex;
}
section.posts article .content-img {
  display: block;
  width: 170px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
section.posts article .content-img img {
  width: 100%;
  height: 100%;
}
section.posts article p {
  padding-left: 10px;
  font-size: 18px;
}

article.iframe {
  display: flex;
  flex-direction: column;
  width: 100%;
}
article.iframe .zingmp3, article.iframe .vnexpress {
  margin-bottom: 24px;
  height: 400px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  background-color: #333;
  text-transform: uppercase;
}
footer h3 {
  text-align: center;
  color: #fff;
  padding-top: 12px;
}
footer nav {
  text-align: center;
  padding-bottom: 24px;
}
footer nav a {
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
}

.header-account {
  text-align: center;
  border-bottom: 1px solid #bbb;
  margin-bottom: 24px;
}
.header-account h3 {
  color: red;
  font-weight: 700;
}
.header-account strong {
  font-style: italic;
}

main.form-account form {
  width: fit-content;
  border: 1px solid #bbb;
  padding: 12px 24px;
  margin: 8px auto;
}
main.form-account form label {
  color: blue;
}
main.form-account form input {
  display: block;
  margin-bottom: 12px;
  padding: 4px 8px;
}
main.form-account form input[type=submit] {
  margin: 8px auto;
  color: blue;
  border: none;
  background-color: yellow;
  font-weight: 700;
  cursor: pointer;
}
main.form-account p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
